In [2]:
!pip install pandas 
!pip install numpy
!pip install seaborn
!pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\DELL\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.26.4)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\DELL\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\DELL\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.21 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\DELL\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
#import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df_trucks = pd.read_csv("trucks.csv",index_col=0)

C:\Users\DELL\AppData\Local\Temp\ipykernel_20972\2125033513.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orders = pd.read_csv("orders.csv", index_col=0)

In [128]:
df_orders = pd.read_csv("orders.csv", index_col=0)

C:\Users\DELL\AppData\Local\Temp\ipykernel_20972\3087747070.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orders = pd.read_csv("orders.csv", index_col=0)

In [129]:
df_trucks.head()

,encodedKey,status,truckType,volume(kg)
creationDate,,,,
2022-06-01 08:55:16,8a858f5b8101e7c901811e75b191610d,ACTIVE,REEFER_TRUCK,20000
2022-06-09 16:46:57,8a858f46813e54820181495b67cc468b,ACTIVE,REEFER_TRUCK,15000
2022-08-05 17:30:18,8a858f318267ea7601826f0668096f69,ACTIVE,BOX_TRUCK,13000
2022-09-06 15:49:50,8a858e458312b8be018312f773d93984,IN_ACTIVE,BOX_TRUCK,13000
2022-12-06 15:03:23,8a858f4c84e67fe60184e7f2f7d05fc3,ACTIVE,BOX_TRUCK,13000

In [130]:
df_orders.head()

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:59
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:59
2,01GGAPRNS3ET0JC79QTAX8PG46,043730707,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
3,01GGAPX6EG5S77Y5B39SHNXEAM,028737136,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:59
4,01GGAPYCWBVZQEFFM0DA1J9VT3,038457808,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:59

In [131]:
df_trucks

,encodedKey,status,truckType,volume(kg)
creationDate,,,,
2022-06-01 08:55:16,8a858f5b8101e7c901811e75b191610d,ACTIVE,REEFER_TRUCK,20000
2022-06-09 16:46:57,8a858f46813e54820181495b67cc468b,ACTIVE,REEFER_TRUCK,15000
2022-08-05 17:30:18,8a858f318267ea7601826f0668096f69,ACTIVE,BOX_TRUCK,13000
2022-09-06 15:49:50,8a858e458312b8be018312f773d93984,IN_ACTIVE,BOX_TRUCK,13000
2022-12-06 15:03:23,8a858f4c84e67fe60184e7f2f7d05fc3,ACTIVE,BOX_TRUCK,13000
2023-04-04 12:12:34,8a858eaa874708ab01874c2ea2da6c5c,ACTIVE,BOX_TRUCK,13000
2023-04-04 13:02:23,8a858ed8874c30d201874c49b5401105,ACTIVE,BOX_TRUCK,13000
2023-04-04 13:12:51,8a858ed8874c30d201874c5eae842993,ACTIVE,BOX_TRUCK,13000
2023-08-09 07:15:06,8a858e9d89d6723f0189d6e44cb312ef,IN_ACTIVE,BOX_TRUCK,13000
2023-08-09 07:21:02,8a858f6589d435230189d92acfac115d,ACTIVE,BOX_TRUCK,13000
2023-08-09 07:30:52,8a858f0989d812f80189d9349fc21dab,ACTIVE,BOX_TRUCK,13000
2023-08-09 09:07:02,8a858e9c89d812f50189d966978731de,ACTIVE,BOX_TRUCK,13000
2023-08-09 09:08:17,8a858f1989d8b5e10189d95ed4a01ee2,ACTIVE,BOX_TRUCK,12000
2023-08-09 09:10:15,8a858e9989d95bb20189d98e86680f0b,ACTIVE,BOX_TRUCK,13000
2023-08-09 09:32:17,8a858f2689d95bb60189d98f75c80ff7,ACTIVE,BOX_TRUCK,13000
2023-08-09 10:02:28,8a858e3889d672350189d9bf6ad07f03,ACTIVE,BOX_TRUCK,13000
2023-08-09 10:05:54,8a858fe989d6707c0189d988c570764a,ACTIVE,BOX_TRUCK,15000
2023-08-09 10:10:09,8a858ece89d812fe0189d9c673854c1d,ACTIVE,BOX_TRUCK,13000
2023-08-09 10:50:00,8a858ff489d511f50189d9c5df61664f,ACTIVE,BOX_TRUCK,13000
2023-08-10 17:13:41,8a858f0289df5e860189e05a9f2947d0,ACTIVE,BOX_TRUCK,13000
2024-03-05 16:52:03,8a858fde8e043ff8018e0f82e6d15eef,ACTIVE,BOX_TRUCK,13000
2024-03-05 17:41:10,8a858e7b8e043ff7018e0fb47a946128,IN_ACTIVE,BOX_TRUCK,13000
2024-03-08 08:23:14,8a858fc48e15f69d018e1d0c55ac3213,ACTIVE,REEFER_TRUCK,15000
2024-03-08 08:55:40,8a858fed8e15ce31018e1d2865003e8a,ACTIVE,BOX_TRUCK,15000
2024-03-08 09:16:29,8a858ebb8e15ce2c018e1d50f7944865,ACTIVE,BOX_TRUCK,13000
2024-07-05 08:25:12,8a858f6e907f8f4e019081fc71871c29,ACTIVE,BOX_TRUCK,13000
2024-08-27 15:02:26,8a858ee0916c254901919453d69653e9,IN_ACTIVE,BOX_TRUCK,13000
2024-08-27 15:09:21,8a858e75916c1cea01919461a63155bb,ACTIVE,BOX_TRUCK,13000
2024-10-01 10:16:45,8a858f2292472be4019247948ef907ea,IN_ACTIVE,BOX_TRUCK,13000
2024-10-01 10:18:12,8a858e2c92472ba201924796684e07b7,ACTIVE,BOX_TRUCK,13000
2024-10-15 09:57:07,8a858ec2928b13d401928f9aa132431a,ACTIVE,BOX_TRUCK,15000
2017-09-04 10:39:32,8a858e9e5e3d613c015e4c4ab8441c93,ACTIVE,BOX_TRUCK,12000
2020-06-17 10:46:35,8a858f8a72c15fc80172c1e05ae85385,ACTIVE,BOX_TRUCK,13000
2020-08-20 16:41:56,8a858f47740be19501740cbede15691b,ACTIVE,REEFER_TRUCK,20000
2021-11-11 09:32:51,8a858f597d0b7853017d0e57bf32474b,ACTIVE,REEFER_TRUCK,20000

In [ ]:
# Recommendation

<h4>The Recommendation Process</h4>
<ul>
    <li> Pick pending orders</li>
    <li>Check for availability of truck and space</li>
    <li>Calcuate space for the goods against the allocated space</li>
    <li>Assign the truck to the pending orders</li>
</ul>

In [132]:
df_orders.columns

Index(['orderId', 'clientId', 'lastModified', 'status', 'truckKey', 'location',
       'fee', 'volume(kg)', 'deliveryItem', 'dateGenerated'],
      dtype='object')

In [133]:
# drop some columns
df_orders.drop(
columns=['Unnamed: 0'], inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [134]:
# Retrieve Pending orders
df_orders_pending = df_orders[df_orders['status'] == 'PENDING']

In [40]:
df_orders['status'] == 'PENDING'

orderId
01GGAPGS3BZKF3AKKRRHPBCMMG     True
01GGAPK4BCXD9S96QXFYD65E20     True
01GGAPRNS3ET0JC79QTAX8PG46     True
01GGAPX6EG5S77Y5B39SHNXEAM     True
01GGAPYCWBVZQEFFM0DA1J9VT3     True
                              ...
ZTPL-896254-592492            False
ZVVE-486278-923056            False
ZWAT-908608-761222            False
ZWPK-561840-866061            False
ZZZM-797297-306137            False
Name: status, Length: 526945, dtype: bool

In [135]:
df_orders_pending

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:59
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:59
2,01GGAPRNS3ET0JC79QTAX8PG46,043730707,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
3,01GGAPX6EG5S77Y5B39SHNXEAM,028737136,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:59
4,01GGAPYCWBVZQEFFM0DA1J9VT3,038457808,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:59
...,...,...,...,...,...,...,...,...,...,...
340007,01J187EZP99VWRDBRA208GKMDY,17354074.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,320.0,17.0,TABLE,2025-03-02 18:20:59
340008,01J187WA3ASVB0BRSEP7M2BM4Q,596083928.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,544.0,28.9,TABLE,2025-03-02 18:20:59
340009,01J188AKG5F6Y5QK85ZE9S9V88,604711603.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,6400.0,340.0,BED,2025-03-02 18:20:59
340012,01J189EMS0JB0QX69D8R7MKHZ9,512866981.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,320.0,17.0,TABLE,2025-03-02 18:20:59
340013,01J189R5H7CP0C8SZM3F135ZGR,193684670.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,3200.0,170.0,TABLE,2025-03-02 18:20:59

In [ ]:
# code
# loop through orers
# calucate the volume for orders
# if == the truck volume then

In [136]:
#groupby data by location
df_orders_pending = df_orders[df_orders['status'] == 'PENDING']

In [137]:
df_orders_pending_location = df_orders_pending.groupby(by=['status', 'location'], sort=True).count()

df_orders_pending_location

                    orderId  clientId  lastModified  truckKey     fee  \
status  location
PENDING ACCRA        111379    110683        111379         0  111379
        BOLGATANGA    32246     32201         32246         0   32246
        KINTAMPO      13456     13405         13456         0   13456
        KOFORIDUA     44072     43972         44072         0   44072
        TEMA         109622    109397        109622         0  109622

                    volume(kg)  deliveryItem  dateGenerated
status  location
PENDING ACCRA           111379        111379         111379
        BOLGATANGA       32246         32246          32246
        KINTAMPO         13456         13456          13456
        KOFORIDUA        44072         44072          44072
        TEMA            109622        109622         109622

In [138]:
df_orders_pend_locat_accra = df_orders_pending[df_orders_pending['location'] == 'ACCRA'] 
df_orders_pend_locat_kintanpo = df_orders_pending[df_orders_pending['location'] == 'KINTAMPO'] 
df_orders_pend_locat_bolga = df_orders_pending[df_orders_pending['location'] == 'BOLGATANGA'] 
df_orders_pend_locat_tema = df_orders_pending[df_orders_pending['location'] == 'TEMA']

In [139]:
df_orders_pend_locat_kintanpo

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:59
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:59
2,01GGAPRNS3ET0JC79QTAX8PG46,043730707,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
3,01GGAPX6EG5S77Y5B39SHNXEAM,028737136,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:59
4,01GGAPYCWBVZQEFFM0DA1J9VT3,038457808,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:59
...,...,...,...,...,...,...,...,...,...,...
339879,01J183MQYAAJ549HA3VF1XXGY6,813346624.0,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:59
339918,01J184AXS4J72A5R88ZZ79DMZG,146475014.0,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
339919,01J184CAFM0N15WNFWNFP6NSNZ,579495095.0,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
339947,01J184VN0SMYTR1PS339EK8XG9,364259927.0,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
339958,01J185557Q2QXCVWVRVF6V1E0N,793958352.0,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:59

In [140]:
df_orders_pend_locat_accra

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
39919,01GS5XK0M8R0J1KS6XE153B963,351848625,2025-03-02 18:20:59,PENDING,NaN,ACCRA,640.0,34.0,TABLE,2025-03-02 18:20:59
39922,01GS5XNAGGCS6EM46D9Q6FYHZ1,928683297,2025-03-02 18:20:59,PENDING,NaN,ACCRA,1600.0,85.0,TABLE,2025-03-02 18:20:59
39926,01GS5XQCHVSHJRHN0ZWRT7CDZA,513563823,2025-03-02 18:20:59,PENDING,NaN,ACCRA,1600.0,85.0,TABLE,2025-03-02 18:20:59
40401,01GS8AKFGY4M5EG1HCSQNWW1SK,351848625,2025-03-02 18:20:59,PENDING,NaN,ACCRA,640.0,34.0,TABLE,2025-03-02 18:20:59
40404,01GS8AMX3WEFBZWZ8GEPH112HZ,081165774,2025-03-02 18:20:59,PENDING,NaN,ACCRA,640.0,34.0,TABLE,2025-03-02 18:20:59
...,...,...,...,...,...,...,...,...,...,...
340007,01J187EZP99VWRDBRA208GKMDY,17354074.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,320.0,17.0,TABLE,2025-03-02 18:20:59
340008,01J187WA3ASVB0BRSEP7M2BM4Q,596083928.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,544.0,28.9,TABLE,2025-03-02 18:20:59
340009,01J188AKG5F6Y5QK85ZE9S9V88,604711603.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,6400.0,340.0,BED,2025-03-02 18:20:59
340012,01J189EMS0JB0QX69D8R7MKHZ9,512866981.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,320.0,17.0,TABLE,2025-03-02 18:20:59
340013,01J189R5H7CP0C8SZM3F135ZGR,193684670.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,3200.0,170.0,TABLE,2025-03-02 18:20:59

In [100]:
df_orders_pending_location

                    clientId  lastModified  truckKey     fee  volume(kg)  \
status  location
PENDING ACCRA         110683        111379         0  111379      111379
        BOLGATANGA     32201         32246         0   32246       32246
        KINTAMPO       13405         13456         0   13456       13456
        KOFORIDUA      43972         44072         0   44072       44072
        TEMA          109397        109622         0  109622      109622

                    deliveryItem  dateGenerated
status  location
PENDING ACCRA             111379         111379
        BOLGATANGA         32246          32246
        KINTAMPO           13456          13456
        KOFORIDUA          44072          44072
        TEMA              109622         109622

In [143]:
df_orders_pend_locat_bolga.reset_index(drop=True)

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGCN1H2968NXBQDW385Q9FF7,889511377,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,3840.0,204.0,TABLE,2025-03-02 18:20:59
1,01GGCRGRSEVKFFG2A6NSHRE3DJ,037753409,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,3200.0,170.0,BED,2025-03-02 18:20:59
2,01GGCS095GP6MVR8DJBZNEDEWV,432607506,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,3200.0,170.0,TABLE,2025-03-02 18:20:59
3,01GGCS8R2WW1J7XC4ZCSCHNWVA,435516794,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,1600.0,85.0,BED,2025-03-02 18:20:59
4,01GGCSAYJQAZ9BMG2X05D0PRKX,787659376,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,320.0,17.0,BED,2025-03-02 18:20:59
...,...,...,...,...,...,...,...,...,...,...
32241,01J182V2HC07GSXYXX4D7FTT41,2420001309.0,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,640.0,34.0,BED,2025-03-02 18:20:59
32242,01J1830V3WNM0HY1YW84GGG5WE,497318117.0,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,320.0,17.0,TABLE,2025-03-02 18:20:59
32243,01J1832EWME063M21PSZZNM3JR,737951808.0,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,1600.0,85.0,BED,2025-03-02 18:20:59
32244,01J183PZ18VWV4G3A1KVF5F4R2,302009603.0,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,1600.0,85.0,BED,2025-03-02 18:20:59
32245,01J183SAD40Q75AXZ1D93EQZQW,528066487.0,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,640.0,34.0,BED,2025-03-02 18:20:59

In [144]:
df_orders_pend_locat_bolga.index

Index([    91,    121,    127,    130,    131,    134,    136,    141,    143,
          145,
       ...
       339786, 339789, 339811, 339813, 339828, 339832, 339840, 339843, 339884,
       339892],
      dtype='int64', length=32246)

In [145]:
df_orders_pend_locat_bolga.iloc[:1]

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
91,01GGCN1H2968NXBQDW385Q9FF7,889511377,2025-03-02 18:20:59,PENDING,NaN,BOLGATANGA,3840.0,204.0,TABLE,2025-03-02 18:20:59

In [156]:
df_orders_pend_locat_bolga.iloc[:1]['fee'].values

array([3840.])

In [164]:
df_orders_pend_locat_bolga.iloc[:20]['fee'].values[0]

3840.0

In [167]:
df_orders_pend_locat_bolga.iloc[:1]['fee'].values[0]

3840.0

In [166]:
df_orders_pend_locat_bolga.iloc[:5]['fee'].values[2]

3200.0

In [ ]:
data_dictionary  = {
    'clientID' : 'clientID',
    'truckkey' : 'truckid',
    'location' : 'location',
    'volumekg' : 'volume(kg)'
}

In [169]:
len(df_orders_pend_locat_bolga.iloc[:5]['fee'])

5

In [196]:
data_len = len(df_orders_pend_locat_bolga.iloc[:]['fee'])
data_truck_len = len(df_trucks.iloc[:]['volume(kg)'])
data_truck_len

35

In [200]:
for a in df_trucks.iloc[:]['volume(kg)']:
    print(a)

20000
15000
13000
13000
13000
13000
13000
13000
13000
13000
13000
13000
12000
13000
13000
13000
15000
13000
13000
13000
13000
13000
15000
15000
13000
13000
13000
13000
13000
13000
15000
12000
13000
20000
20000

In [206]:
data_trucks = [a for a in df_trucks.iloc[:]['volume(kg)']]
print(data_trucks)

[20000, 15000, 13000, 13000, 13000, 13000, 13000, 13000, 13000, 13000, 13000, 13000, 12000, 13000, 13000, 13000, 15000, 13000, 13000, 13000, 13000, 13000, 15000, 15000, 13000, 13000, 13000, 13000, 13000, 13000, 15000, 12000, 13000, 20000, 20000]

In [193]:
df_trucks[['volume(kg)']]['volume(kg)'][0]

C:\Users\DELL\AppData\Local\Temp\ipykernel_20972\1528383809.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_trucks[['volume(kg)']]['volume(kg)'][0]

20000

In [ ]:
data_volume_cal = 0
data_truck = len(df_trucks.iloc[:]['volume(kg)'])

for dat_v in range(0, data_len):
    #print(df_orders_pend_locat_bolga.iloc[:]['volume(kg)'].values[dat_v])
    if data_volume_cal < df_trucks.iloc[:]['volume(kg)'].values[0]:
        data_volume_cal += df_orders_pend_locat_bolga.iloc[:]['volume(kg)'].values[data_v] 
    elif

In [209]:
df_trucks.iloc[:]['volume(kg)'].values[0]

20000

In [ ]:
for a in df_trucks.iloc[:]['volume(kg)']]
print(data_trucks)

In [ ]:
for data_v in range(0, data_v):
    for v in range(0, data_trucks):

In [ ]:
if the order_sets is less than a truck capacity then
  add additional capacity
 elif the order_set is greater than truck capacity then
    assign an clientID and orderID 
    assign a truck 
    check if truck is status is active

In [261]:
data_volume_cal = 0
data_v = 0
for data_v in range(0, 5):
    stddore_data = []
    while data_volume_cal <= df_trucks.iloc[:]['volume(kg)'].values[0]:
        data_volume_cal += df_orders_pend_locat_bolga.iloc[:]['volume(kg)'].values[data_v]
    else:
        store_data.append(data_volume_cal)
        #data_volume_cal > df_trucks.iloc[:]['volume(kg)'].values[0]:
        #print('done')
#print(data_volume_cal)
#print(data_v)
print(store_data)

[20196.0, 20196.0, 20196.0, 20196.0, 20196.0, 20196.0, 20196.0, 20196.0, 20196.0, 20196.0]

In [271]:
map_data = list(map(lambda x, y: x + y, [1, 2], [1, 5]))
print(map_data)

[2, 7]

In [279]:
print([data_v for data_v in range(0, 5)])

[0, 1, 2, 3, 4]

In [285]:
df_orders_pending.head()

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:59
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:59
2,01GGAPRNS3ET0JC79QTAX8PG46,043730707,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
3,01GGAPX6EG5S77Y5B39SHNXEAM,028737136,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:59
4,01GGAPYCWBVZQEFFM0DA1J9VT3,038457808,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:59

In [293]:
df_orders_pending.groupby(by=['location'])['volume(kg)'].first()

location
ACCRA          34.0
BOLGATANGA    204.0
KINTAMPO      340.0
KOFORIDUA      34.0
TEMA           34.0
Name: volume(kg), dtype: float64

In [305]:
df_orders_pending.loc[: ('truckKey')] = df_trucks['encodedKey']

ValueError: Must have equal len keys and value when setting with an iterable

In [302]:
df_orders_pending

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:59
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:59
2,01GGAPRNS3ET0JC79QTAX8PG46,043730707,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
3,01GGAPX6EG5S77Y5B39SHNXEAM,028737136,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:59
4,01GGAPYCWBVZQEFFM0DA1J9VT3,038457808,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:59
...,...,...,...,...,...,...,...,...,...,...
340007,01J187EZP99VWRDBRA208GKMDY,17354074.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,320.0,17.0,TABLE,2025-03-02 18:20:59
340008,01J187WA3ASVB0BRSEP7M2BM4Q,596083928.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,544.0,28.9,TABLE,2025-03-02 18:20:59
340009,01J188AKG5F6Y5QK85ZE9S9V88,604711603.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,6400.0,340.0,BED,2025-03-02 18:20:59
340012,01J189EMS0JB0QX69D8R7MKHZ9,512866981.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,320.0,17.0,TABLE,2025-03-02 18:20:59
340013,01J189R5H7CP0C8SZM3F135ZGR,193684670.0,2025-03-02 18:20:59,PENDING,NaN,ACCRA,3200.0,170.0,TABLE,2025-03-02 18:20:59