In [ ]:
#Install modules
!pip3 install pandas 
!pip3 install numpy

In [5]:
# import library
#import numpy as np
import pandas as pd
import numpy as np

In [7]:
#load the datasets
df_trucks = pd.read_csv("trucks.csv",index_col=0)
df_orders = pd.read_csv("orders.csv", index_col=0)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13708\472753791.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orders = pd.read_csv("orders.csv", index_col=0)

In [8]:
# Explore the data
df_trucks.head()

,encodedKey,status,truckType,volume(kg)
creationDate,,,,
2022-06-01 08:55:16,8a858f5b8101e7c901811e75b191610d,ACTIVE,REEFER_TRUCK,20000
2022-06-09 16:46:57,8a858f46813e54820181495b67cc468b,ACTIVE,REEFER_TRUCK,15000
2022-08-05 17:30:18,8a858f318267ea7601826f0668096f69,ACTIVE,BOX_TRUCK,13000
2022-09-06 15:49:50,8a858e458312b8be018312f773d93984,IN_ACTIVE,BOX_TRUCK,13000
2022-12-06 15:03:23,8a858f4c84e67fe60184e7f2f7d05fc3,ACTIVE,BOX_TRUCK,13000

In [9]:
df_orders.head()

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:59
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:59
2,01GGAPRNS3ET0JC79QTAX8PG46,043730707,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
3,01GGAPX6EG5S77Y5B39SHNXEAM,028737136,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:59
4,01GGAPYCWBVZQEFFM0DA1J9VT3,038457808,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:59

In [11]:
# retrieve pending orderss
df_orders_pending = df_orders[df_orders['status'] == 'PENDING']

In [13]:
df_orders_pending.head()

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:59
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:59
2,01GGAPRNS3ET0JC79QTAX8PG46,043730707,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:59
3,01GGAPX6EG5S77Y5B39SHNXEAM,028737136,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:59
4,01GGAPYCWBVZQEFFM0DA1J9VT3,038457808,2025-03-02 18:20:59,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:59

In [15]:
# Explore the Pending order locations
df_orders_pend_locat_accra = df_orders_pending[df_orders_pending['location'] == 'ACCRA'] 
df_orders_pend_locat_kintanpo = df_orders_pending[df_orders_pending['location'] == 'KINTAMPO'] 
df_orders_pend_locat_bolga = df_orders_pending[df_orders_pending['location'] == 'BOLGATANGA'] 
df_orders_pend_locat_tema = df_orders_pending[df_orders_pending['location'] == 'TEMA']

<h4>The Recommendation Process</h4>
<ul>
    <li> Pick pending orders</li>
    <li>Check for availability of truck and space in compartment </li>
    <li>Calcuate space for the goods against the allocated space</li>
    <li>Assign the truck the pending orders that meets it load space</li>
</ul>

<h3> Key insights </h3>
<ol>
    <li> Each Distribution center has a fleet of truck </li>
    <li> Trucks can have various orders at a certain time </li>
    <li> Trucks can be overloaded or reduce quatity </li>
</ol>

In [ ]:
data_volume_cal = 0
data_truck = len(df_trucks.iloc[:]['volume(kg)'])

for dat_v in range(0, data_len):
    #print(df_orders_pend_locat_bolga.iloc[:]['volume(kg)'].values[dat_v])
    if data_volume_cal < df_trucks.iloc[:]['volume(kg)'].values[0]:
        data_volume_cal += df_orders_pend_locat_bolga.iloc[:]['volume(kg)'].values[data_v] 
    elif